
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.container{
    min-height: 400px;
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 2fr 1fr 2fr; */
    grid-template-columns: repeat(2,1fr 2fr);
    grid-auto-rows: minmax(100px,auto);
}

.box{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: .5rem;
}